<p style="color: green"><%= notice %></p>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'search_form', q: @q, url: books_path %>
    </div>
  </div>

<h1><%= @index_title %></h1>

<div id="books">
    <%= render @books %>
</div>

<%= link_to "新規作成", new_book_path %>